.course-generic-info-stepper__dialog {
  // checkbox field
  .v-input--checkbox {
    .v-messages {
      min-height: 0 !important;
    }
    .v-icon {
      &.mdi-checkbox-marked {
        color: var(--v-primary-base);
      }
    }
    .v-input--selection-controls__input {
      width: 1.25rem;
      height: 1.25rem;
      margin-right: 0.8rem;
    }
    .v-input--selection-controls__ripple {
      display: none;
    }
    .v-label {
      font-size: 0.875rem;
      line-height: 1.08;
      letter-spacing: 0.08px;
    }
    &.v-input--is-disabled {
      .v-icon {
        color: inherit !important;
      }
    }
  }
  // upload field
  .is-drag-valid {
    .vue-file-agent.file-input-wrapper {
      min-height: 4.25rem;
      font-size: 1rem;
      border-color: var(--v-primary-base);
      border-width: 1px;
      border-radius: 4px;
      .file-preview-wrapper.file-preview-new {
        min-height: 4rem;
        border-radius: 4px;
        &::before {
          background: var(--v-primary-base);
          opacity: 0.06;
        }
      }
      .file-preview {
        min-height: 4rem;
        display: flex;
        align-items: center;
        .help-text {
          color: var(--v-primary-base);
        }
        svg {
          top: 12px;
          fill: var(--v-primary-base);
        }
      }
    }
  }
}
.create-course-stepper.dense {
  .create-course-stepper__steps-wrap {
    .v-stepper__step {
      min-height: 50px;
    }
  }
}
.create-course-stepper {
  .v-stepper__wrapper[style="height: auto;"] {
    min-height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
  }
  .v-stepper__label {
    display: none;
  }
  .create-course-stepper__steps-wrap {
    .v-stepper__step {
      box-sizing: border-box;
      transition: 300ms;
      position: relative;
      &.invalid.collapsed .v-stepper__step__step {
        background: var(--v-error-base) !important;
      }
    }
    .v-stepper__step--active {
      &::before {
        content: '';
        position: absolute;
        width: 4px;
        border-radius: 2px 0 0 2px;
        left: 0;
        top:0;
        bottom: 0;
        background: var(--v-primary-base);
      }
    }
    .v-stepper__step__step {
      width: 26px;
      min-width: 26px;
      height: 26px;
      color: var(--v-primary-base);
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      background: none !important;
      font-weight: 600;
      &::before {
        content: '';
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--v-primary-base);
        opacity: 0.1;
        position: absolute;
      }
      &.primary {
        background: var(--v-primary-base) !important;
      }
    }
  }
}

@media (min-width: 960px) {
  .create-course-stepper {
    .create-course-stepper__steps-wrap {
      .v-stepper__step__step {
        margin: 0 !important;
      }
      .v-stepper__label {
        display: flex;
      }
      &--hide {
        .v-stepper__label {
          display: none;
        }
      }
    }
  }
}

.v-menu__content.v-menu__content--fixed {
  .v-list-item {
    min-height: 36px !important;
  }
  .v-list-item__content {
    padding: 4px;
  }
  .v-list-item__title {
    font-size: 12px;
  }
}
